<link rel="stylesheet" href="headerform.css">
<div>
	<form name="thisform" ng-hide="headerCtrl.isLogin" ng-submit="thisform.$valid && headerCtrl.Login(headerCtrl.user,headerCtrl.pw,headerCtrl.email)" novalidate>
	<!-- Review ng-class to change css -->
	Username: <input type="text" ng-model="headerCtrl.user" required> <br>
	Passward: <input type="passward" ng-model="headerCtrl.pw" required> <br>
	E-mail:   <input type="email" ng-model="headerCtrl.email" required> <br>
	<input type="submit">
	</form>
</div>
